@import "tailwindcss";
@import "@fontsource/dm-sans";
@import "@fontsource/inter";

@theme {
  --color-primary: #1995AD;
  --color-secondary: #A1D6E2;
  --color-background-light: #f1f1f2;
  --color-background-dark: #101808;
  --color-text-light: #101808;
  --color-text-dark: #f1f1f2;
  
  --font-family-dm-sans: "DM Sans", sans-serif;
  --font-family-inter: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DM Sans", sans-serif;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}